.App {}

.todoList {
  width: 500px;
  margin: 0 auto;
}

.todoList>div {
  padding: 10px;
}

.todoList-task {}

.filter-active {
  background-color: rgb(145, 145, 219);
}

.error {
  border-color: red;
}

.todoList-task.done {
  opacity: 0.5;
  text-decoration: line-through;
}